.aboutUsContainer {
    display: flex;
    align-items: center;
}

.profilepic {
    flex: 0;
    margin-left: 100px;
    margin-top: 50px;
}

.circleImg {
    width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
  
}

.description {
    margin-left: 80px;
    margin-top: 50px;
}

