:root{
    /* background colours */
    --primary-background: #fffffe;
    --secondary-background: #e3f6f5;

    /* text colours */
    --light-text: #fffffe;
    --dark-heading: #272343;

    /* buttons */
    --blue-button: #bae8e8;

}

.navbar #navbar{
    z-index: 20;
    justify-content: flex-end;
}

/* nav links */
.navbar-nav{
    font-family: 'Lato', sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    padding-right: 2rem;
}

.nav-item{
    margin: 0 1.5rem 0 1.5rem;
}

#hero{
    height: 100vh; /* stretch to full height of browser */
    width: 100%;
    background: var(--primary-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* dark overlay */

#hero::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-heading) 0.75;
    z-index: 10;
}


#hero video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover; /* fit the video to the screen */
}

#hero .text-overlay{
    position: relative;
    z-index: 20;
    text-align: center;
    color: var(--light-text);
    font-family: 'Lato', sans-serif;

}

#hero .text-overlay h1{
    font-size: 2em; /* mobile first development */
    font-weight: 900;
    margin-bottom: 5rem;
    padding-bottom: none;
}

#hero .text-overlay h2{
    font-size: 1.5em; /* mobile first development */
    font-weight: 400;
}

/* responsive text */
/* phone */
@media screen and (min-width: 768px){
    #hero .text-overlay h1{
        font-size: 7rem;
    }

    #hero .text-overlay h2{
        font-size: 1.5rem;
    }
    
}

/* tablet */
@media screen and (min-width: 992px){
    #hero .text-overlay h1{
        font-size: 10rem;
    }

    #hero .text-overlay h2{
        font-size: 2rem;
    }
    
}

/* desktop */
@media screen and (min-width: 1200px){
    #hero .text-overlay h1{
        font-size: 15rem;
    }

    #hero .text-overlay h2{
        font-size: 2.5rem;
    }
    
}

