<!DOCTYPE html>
<html>
<body>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='about.css')}}"/> 

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    <script>

        $(function() {
    
    
       var people = [];
    
       $.getJSON('../data.json', function(data) {
            console.log(data);
       }).fail(function(){
            console.log("An error has occurred.")
       });
    
    });
    </script>

</head>
<!-- About Me Block -->

<!-- Please add your profile pic in static folder -->
<!-- Use url_for to generate the correct URLs with Jinja2 templates: -->
<div class="aboutUsContainer">
    <div class="profilepic"> 
        <!-- Having trouble inputting variable for each picture: -->
            <img src="{{ url_for('static', filename = name + '.png' )}}" class="circleImg">
    </div>
    <div class="description">
        <h1 style="color:#272343; font-weight:bold">Hi! I'm {{name|capitalize}}</h1>
            <p style="color:#2d334a">
                Hi Im an MLH Fellow
            </p>
    </div>
</div>

<!-- Projects Block -->
<div class="section--projects">
    <div class="container--title">
        <h1>PROJECTS</h1>
    </div>
    <div class="container center">
        <div class="container--project" style="background-image: url(https://picsum.photos/300);">
            <div class="container--info">
                <div class="info--project">
                    <h2>Title</h2>
                    <p>Brief description of the project like Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla metus id semper pharetra.</p>
                    <a href="http://google.com">CHECK IT OUT</a>
                </div>
            </div>
        </div>
        <div class="container--project" style="background-image: url(https://picsum.photos/400);">
            <div class="container--info">
                <div class="info--project">
                    <h2>Title</h2>
                    <p>Brief description of the project like Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla metus id semper pharetra.</p>
                    <a href="http://google.com">CHECK IT OUT</a>
                </div>
            </div>
        </div>
        <div class="container--project" style="background-image: url(https://picsum.photos/500);">
            <div class="container--info">
                <div class="info--project">
                    <h2>Title</h2>
                    <p>Brief description of the project like Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla metus id semper pharetra.</p>
                    <a href="http://google.com">CHECK IT OUT</a>
                </div>
            </div>
        </div>
        <div class="container--project" style="background-image: url(https://picsum.photos/600);">
            <div class="container--info">
                <div class="info--project">
                    <h2>Title</h2>
                    <p>Brief description of the project like Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla metus id semper pharetra.</p>
                    <a href="http://google.com">CHECK IT OUT</a>
                </div>
            </div>
        </div>
        <div class="container--project" style="background-image: url(https://picsum.photos/700);">
            <div class="container--info">
                <div class="info--project">
                    <h2>Title</h2>
                    <p>Brief description of the project like Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla metus id semper pharetra.</p>
                    <a href="http://google.com">CHECK IT OUT</a>
                </div>
            </div>
        </div>
        <div class="container--project" style="background-image: url(https://picsum.photos/700);">
            <div class="container--info">
                <div class="info--project">
                    <h2>Title</h2>
                    <p>Brief description of the project like Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla metus id semper pharetra.</p>
                    <a href="http://google.com">CHECK IT OUT</a>
                </div>
            </div>
        </div>
        <div class="container--project" style="background-image: url(https://picsum.photos/700);">
            <div class="container--info">
                <div class="info--project">
                    <h2>Title</h2>
                    <p>Brief description of the project like Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla metus id semper pharetra.</p>
                    <a href="http://google.com">CHECK IT OUT</a>
                </div>
            </div>
        </div>
        <div class="container--project" style="background-image: url(https://picsum.photos/700);">
            <div class="container--info">
                <div class="info--project">
                    <h2>Title</h2>
                    <p>Brief description of the project like Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla metus id semper pharetra.</p>
                    <a href="http://google.com">CHECK IT OUT</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>