<!DOCTYPE html>
<html>
<head>
    <style>
        div.container {
          display:inline-block;
        }
    
        h1, p {
          text-align:center;
        }
      </style>
</head>
<body>

<!-- Home Page -->
<div>
    <h1>Welcome</h1>
</div>
<div class="container">
    <img src="{{ url_for('static', filename = 'Cristopher.png', name='cristopher') }}" width="250" height="300">
    <a href = '/about/Cristopher'>Cristopher</a>
</div>
<div class="container">
    <img src="{{ url_for('static', filename = 'Nhi.png', name='nhi') }}" width="250" height="300">
    <a href = '/about/Nhi'>Nhi</a>
</div>
<div class="container">
    <img src="{{ url_for('static', filename = 'Yenyu.png', name = 'yenyu') }}" width="250" height="300">
    <a href = '/about/Yenyu'>Yenyu</a>
</div>

</body>
</html>