<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold mb-4">
    Contact Cristopher
    </h6>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
            LinkedIn
        </a>
    </p>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
            GitHub
        </a>
    </p>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
            Twitter
        </a>
    </p>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-email"></i>
            myemail@email.com
        </a>
    </p>
    
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold mb-4">
    Contact Nhi
    </h6>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
            LinkedIn
        </a>
    </p>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
            GitHub
        </a>
    </p>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
            Twitter
        </a>
    </p>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-email"></i>
            myemail@email.com
        </a>
    </p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    <!-- Links -->
    <h6 class="text-uppercase fw-bold mb-4">
    Contact Yenyu
    </h6>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
            LinkedIn
        </a>
    </p>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
            GitHub
        </a>
    </p>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
            Twitter
        </a>
    </p>
    <p>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-email"></i>
            myemail@email.com
        </a>
    </p>
</div>
<!-- Grid column -->
</div>
<!-- Grid row -->
</div>
</section>
<!-- Section: Links  -->