<!DOCTYPE html>
<html lang="en">
<head>
<!--    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css()}}
    {{ toastr.message() }}
-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" context="IE-edge">
    <meta name="viewport" content="width=deivce-width, initial-scale=1.0">

    <title> C Turtles-3 Register </title>

</head>
<body>
<!-- 	{{ toastr.include_toastr_js() }}-->	
        <div class='form--wrapper'>
        <div class='form--container'>
            <h2> Register </h2>
            <form action="" method="post">
                <label for="username"> Username: </label><br>
                <input type="text" id="username" name="username" /><br>
                <label for="password">Password: </label><br>
                <input type="password" id="password" name="password" /><br><br>
                <input class='button 'type="submit" id="send-register" name="signup" value="Register" /><br>
            </form>
            <p> Create an account <a href="/register">Register</a></p>
        </div>
    </div>
</body>
</html>
